language: go

sudo: false

go:
    - "1.9"
    - "1.10"
    - "1.11"
    - "1.12"
    - "1.13"
    - "1.14"

before_install:
    - go get github.com/wadey/gocovmerge
    - go get github.com/mattn/goveralls
    - go get golang.org/x/tools/cmd/cover

install:
    - go get -d -v $(go list ./... | grep -v examples)

script:
    - go test -v $(go list ./... | grep -v examples)

after_success:
  - bash .generate_coverage.sh
  - goveralls -coverprofile=full_cov.out -service=travis-ci
